Package: laer
Priority: optional
Maintainer: Can202 <mgoopazo@gmail.com>
Architecture: all
Version: 0.2
Depends: vim, bash, neofetch
Description: clear command, but personalized
 clear command, but personalized
